// colors
$primary-color: rgb(252, 244, 244); // Kan vara till body (ljus färg)
$secondary-color: rgb(45, 53, 128); // Kan vara till header (mörk blå)
$color-h2h3: rgb(95, 119, 139); // Kan vara h2 och h3 rubrik t.ex

$text-color: rgb(0, 0, 0);
$text-color-heading: rgb(255, 255, 255);



// Font family
$font-family-header: "Agdasima", sans-serif; // Font header
$font-family-body: "Roboto Condensed", sans-serif; // Font body
$font-family-footer: "Oswald", sans-serif;


// Font size
$font-size-header: 3rem; // 3*16 = 48px
$font-size-body: 1rem; // 16px
$font-size-footer: 0.875rem; // 14px