@import 'mixins';
@import 'variables';

* {
    box-sizing: border-box;
    margin: 0.5%;
    padding: 0;
    color: $text-color;
}

body {
    height: 100vh;
    width: 100%;
    background-color: $primary-color;

.header {
    @include flex-center;
    @include box-shadow(0 2px 5px lightblue);
    background-color: $secondary-color;
    height: 15%;
    h1 {
        
        @include flex-center;
        width: 100%;
        height: 100%;
        font-family: $font-family-header;
        font-size: $font-size-header;
        color: $text-color-heading;
        margin: 0.5%;
    }
}

.main-1 {
    height: 100%;
    width: 99%;
    @include flex-row;
    // border: solid;

    .articles {
        border: solid;
        @include flex-column;
        width: 50%;
        height: 99%;
        background-color: $primary-color;
        font-family: $font-family-body;
        .h2 {
            border: solid;
            @include flex-center;
            // background-color: $color-h2h3;
            width: 99%;
            height: 20%;
            margin-top: 0.5%;
            font-size: $font-size-header;
        }

        .h3 {
            border: solid;
            @include flex-center;
            width: 99%;
            height: 10%;
            margin-top: 0.5%;
            font-size: xx-large;
        }

        .article-1 {
            border: solid;
            @include flex-center;
            align-self: flex-start;
            width: 99%;
            height: 70%;
            font-size: larger;
            text-align: center
        }

    }

    .pics {
        @include flex-column;
        border: solid;
        width: 50%;
        height: 99%;
        
        .art {
            border: solid;
            @include flex-center;
            height: 70%;
            width: 99%;


            .img1 {
                height: 100%; // Let the image fill the height of its parent
                width: 100%;  // Let the image fill the width of its parent
                object-fit: cover; // Ensures the image covers the area while maintaining aspect ratio
                object-position: center; // Centers the image
            }
        }

        .ad {
            border: solid;
            @include flex-center;
            height: 30%;
            width: 99%;
            background-color: $primary-color;
            
            .img2 {

                
                height: 100%; // Let the image fill the height of its parent
                width: 100%;  // Let the image fill the width of its parent
                object-fit: cover; // Ensures the image covers the area while maintaining aspect ratio
                object-position: center; // Centers the image


            }
        }
    }
}

// .main-1 {
//     height: 100%;
//     width: 99%;
//     @include flex-row;

//     .articles {
        
//         @mixin flex-column;
//         width: 50%;
//         height: 99%;
//         background-color: $secondary-color;
//         .h2 {
            
//             @include flex-center;
//             width: 99%;
//             height: 20%;
//             background-color: $primary-color;
//         }

//         .h3 {
            
//             @include flex-center;
//             width: 99%;
//             height: 10%;
//             background-color: $primary-color;
//         }

//         .article-1 {
            
//             @include flex-center;
//             width: 99%;
//             height: 70%;
//             background-color: $primary-color;
//         }

//     }

//     .pics {
//         @mixin flex-column;
//         width: 50%;
//         height: 99%;
        
//         background-color: $secondary-color;
//         .art {
            
//             @include flex-center;
//             height: 70%;
//             width: 99%;
//             background-color: $primary-color;
//         }

//         .ad {
            
//             @include flex-center;
//             height: 30%;
//             width: 99%;
//             background-color: $primary-color;
//         }
//     }
// }

footer {
    @include flex-center;
    background-color: $secondary-color;
    color: $primary-color;
    font-family: $font-family-footer;
    // position: sticky;
    // bottom: 0;
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
    font-size: $font-size-footer;
}
}